$font-size: 20px;
$button-background-color: purple;

.hello-world-button {
    background: $button-background-color;
    color: #fff;
    border: 1px solid #000;
    padding: 15px;
}
.hello-world-text {
    color: orange;
    font-weight: bold;
    font-size: $font-size;
}
